:root {
  --bg-primary: 245, 245, 250;
  --bg-secondary: 230, 235, 250;
  --bg-tertiary: 210, 220, 240;

  // Fuentes
  --fnt-primary: 20, 20, 40;
  --fnt-secondary: 60, 90, 130;
  --fnt-tertiary: 100, 140, 100;

  // Principales
  --tn-primary: 255, 100, 150;
  --tn-secondary: 0, 0, 0;

  // --

  --xl-font-size: 4rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.4rem;
  --h3-font-size: 1.3rem;
  --h4-font-size: 1.2rem;
  --h5-font-size: 1.1rem;
  --p-font-size: 1rem;
}

$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);
$bg3: var(--bg-tertiary);
$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);
$fn3: var(--fnt-tertiary);
$tn1: var(--tn-primary);
$tn2: var(--tn-secondary);
$tn3: var(--tn-tertiary);

// Window
$min-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 820px;
$large-screen: 992px;
$extra-large-screen: 1200px;
$big-screen: 1350px;

// Other
$radius: 15px;
$padding: 10px;
$icon: 20px;
$family-size: 14px;
$fontBase: 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
  'Segoe UI Emoji';
$fontTitle: var(--titleFont);
$font1: var(--paragraphFont);
$font2: var(--paragraphFont);

// Basic colors
$error: rgb(228 30 56);
$success: rgb(40 167 69);
$warning: rgb(255 193 7);
$info: rgb(23 162 184);
$focus: #4285f4;

// bezier
$bezier: cubic-bezier(0.68, -0.55, 0.27, 1.55);

// gradients
$gr1: linear-gradient(140deg, rgb(255 100 50) 12.8%, rgb(255 0 101) 43.52%, rgb(123 46 255) 84.34%);

@mixin toDark {
  body.dark & {
    @content;
  }
}

@mixin hoverS($scale: 0.99, $s: 0.2s) {
  scale: 1;
  transition: all $s ease-in;

  &:hover {
    scale: $scale;
    @content;
  }
}
