$family-size: 16px;
$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);
$bg3: var(--bg-tertiary);
$bgp: var(--bg-pure);
$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);
$fn3: var(--fnt-tertiary);
$fnA: var(--fnt-active);
$tn1: var(--tn-primary);
$tn2: var(--tn-secondary);

// Icons
$icon: 1rem;

// Padding tags
$btn-padding: 7px 9px;
$tag-padding: 3px 5px;

// Spacing
$padding: 10px;
$min-padding: 7px;
$big-padding: 50px;
$section-padding: 100px;

// Radius
$min-radius: 8px; // 3px
$radius: $min-radius + $padding; // 5px

// Font families
$font1: var(--family1), arial, helvetica, sans-serif, 'Segoe UI Mono';
$font2: var(--family2), georgia, 'Times New Roman', times, serif;
$emojis: var(--emojis), 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji';

// Basic colors
$error: rgb(228 30 56);
$success: rgb(40 167 69);
$warning: rgb(255 193 7);
$info: rgb(42 42 42);
$focus: rgb(66 133 244);
$active: rgb(150 211 50);

// Media queries
$min-small-screen: 380px;
$small-screen: 610px;
$medium-screen: 850px;
$large-screen: 1050px;
$extra-large-screen: 1250px;
$big-screen: 1350px;

// Max width application
$max-w: 1200px;

// Max width application on responsive
$max-w-md: 1000px;

// Max width application on responsive
$max-w-min: 800px;
