@use '@sass/config/vars' as *;
@use '@sass/utils/boxLoader' as loader;
@use '@sass/utils/defs' as d;

@use 'default' as *;

body {
  .lazy {
    content-visibility: auto;
  }

  .description {
    width: 100%;
    max-width: 530px;
    text-align: center;
  }

  .font2 {
    font-family: $font2;
    font-weight: 400;
    font-style: italic;
  }

  .loading {
    @include loader.boxLoader;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .clampText {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;

    max-height: calc($fP * 3 * 1.5);
  }

  .border {
    border: 1px solid rgb($bg3);
  }

  .svg-active {
    stroke: rgb($tn1) !important;
  }

  .toast {
    width: fit-content !important;
    height: fit-content !important;
    padding: 0 !important;
    border: 1px solid rgb($bg3, 0.5) !important;
    border-radius: $radius * 0.7 !important;

    line-height: normal !important;

    background-color: rgb($bg2, 0.7) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: none !important;

    > div {
      margin: 0 !important;
    }
  }

  .active {
    background-color: rgb($tn1) !important;
  }

  .secondary {
    background-color: rgb($tn2) !important;
  }

  .secondary,
  .active {
    &,
    h3,
    h4,
    h5,
    p,
    a,
    button,
    div,
    span {
      color: rgb($fnA) !important;
    }

    svg {
      stroke: rgb($fnA) !important;
    }
  }

  .frow {
    @include d.flex($ali: center, $dir: row);

    flex-wrap: wrap;
  }

  .flex {
    @include d.flex;
  }

  .mflex {
    @include d.flex($gap: $min-padding);
  }

  .mfrow {
    @include d.flex($ali: center, $dir: row, $gap: $min-padding);

    flex-wrap: wrap;
  }

  .btn {
    padding: 7px $padding;
    border-radius: $radius;
  }

  .fade {
    animation: fade 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .emoji {
    font-family: $emojis;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
