@use '@sass/config/vars' as *;
@use '@sass/utils/boxLoader' as loader;
@use '@sass/utils/defs' as d;

@use 'default' as *;

body {
  .font2 {
    font-family: $font2;
    font-style: italic;
  }

  .loading {
    @include loader.boxLoader;
  }

  .border {
    border: 1.5px solid rgb($bg3);
  }

  .svg-active {
    stroke: rgb($tn1) !important;
  }

  .toast {
    width: fit-content !important;
    height: fit-content !important;
    padding: 0 !important;
    border: 1px solid rgb($bg3, 0.5) !important;
    border-radius: $radius * 0.7 !important;

    line-height: normal !important;

    background-color: rgb($bg2, 0.7) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: none !important;

    > div {
      margin: 0 !important;
    }
  }

  .active {
    background-color: rgb($tn1) !important;

    &,
    h3,
    h4,
    h5,
    p,
    a,
    button,
    div,
    span {
      color: rgb($fnA) !important;
    }

    svg {
      stroke: rgb($fnA) !important;
    }
  }

  .frow {
    @include d.flex($ali: center, $dir: row);

    flex-wrap: wrap;
  }

  .btn {
    padding: 7px $padding;
    border-radius: $radius;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
