@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@forward 'style';

@include m.extraLargeScreen {
  .jobHistory {
    width: 100%;
  }
}

@include m.largeScreen {
  .jobExperience {
    width: 100%;
    max-width: 80%;

    @include d.flex($ali: center);

    &-period {
      min-width: 100%;
      padding: 0;
      padding-bottom: v.$padding;
      border-bottom: 2px solid rgb(v.$bg3);
    }

    &-content {
      padding-top: v.$padding;
    }
  }
}

@include m.mediumScreen {
  .jobExperience {
    max-width: 100%;
  }
}

@include m.smallScreen {
  .jobExperience {
    max-width: 100%;
  }
}
