@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.largeScreen {
  .devExperience {
    flex-direction: column;

    width: 100%;
    max-width: 500px;
    padding: v.$padding;
    border: 1px solid rgb(v.$bg3, 0.6);
    border-radius: v.$radius * 0.7;

    background-color: rgb(v.$bg2, 0.5);

    &-information {
      width: 90%;
    }
  }
}

@include m.smallerScreen {
  .devExperience {
    &-information {
      width: 100%;
    }
  }
}
