@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.hauidev {
  @include d.flex($dir: row, $ali: center, $gap: v.$min-padding);

  justify-content: center;

  width: fit-content;
  height: fit-content;
  padding: v.$min-padding;
  border-radius: v.$min-radius;

  background-color: rgb(v.$bg3);

  .hauidev-logo {
    overflow: visible;
    fill: rgb(v.$fn1);
  }

  &.animate .hauidev-logo {
    fill: none;
    stroke: rgb(v.$fn1);
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    stroke-width: 10;

    animation: draw 10s linear infinite;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  &.has-shadow svg {
    filter: drop-shadow(-2px 4px 5px rgb(0 0 0 / 80%));
  }

  &.xs .hauidev-logo {
    width: v.$icon * 1;
    height: v.$icon * 1;
  }

  &.sm .hauidev-logo {
    width: v.$icon * 1.2;
    height: v.$icon * 1.2;
  }

  &.md .hauidev-logo {
    width: v.$icon * 1.5;
    height: v.$icon * 1.5;
  }

  &.lg .hauidev-logo {
    width: v.$icon * 2;
    height: v.$icon * 2;
  }

  &.xl .hauidev-logo {
    width: v.$icon * 4;
    height: v.$icon * 4;
  }
}
