@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.hauidev {
  @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);

  justify-content: center;

  width: fit-content;
  height: fit-content;
  padding: 4px;

  background-color: rgb(v.$fn1);

  &.circle {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: v.$radius * 0.4;
  }

  &.none {
    border-radius: 0;
  }

  &.xs .hauidev-logo {
    width: v.$icon * 1;
    height: v.$icon * 1;
  }

  &.sm .hauidev-logo {
    width: v.$icon * 1.2;
    height: v.$icon * 1.2;
  }

  &.md .hauidev-logo {
    width: v.$icon * 1.5;
    height: v.$icon * 1.5;
  }

  &.lg .hauidev-logo {
    width: v.$icon * 2;
    height: v.$icon * 2;
  }

  &.xl .hauidev-logo {
    width: v.$icon * 4;
    height: v.$icon * 4;
  }
}
