@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen {
  .hauidev {
    &.xs .hauidev-logo {
      width: v.$icon * 0.5;
      height: v.$icon * 0.5;
    }

    &.sm .hauidev-logo {
      width: v.$icon * 0.9;
      height: v.$icon * 0.9;
    }

    &.md .hauidev-logo {
      width: v.$icon * 1.2;
      height: v.$icon * 1.2;
    }

    &.lg .hauidev-logo {
      width: v.$icon * 2;
      height: v.$icon * 2;
    }

    &.xl .hauidev-logo {
      width: v.$icon * 3;
      height: v.$icon * 3;
    }
  }
}
