@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.mainBar {
  position: sticky;
  z-index: 10;
  top: v.$padding;
  width: 100%;

  &-wrapper {
    position: relative;

    flex-wrap: wrap;

    width: fit-content;
    margin: 0 auto;
    padding: v.$btn-padding !important;
    border-radius: v.$radius;

    background-color: rgb(v.$bg1);

    @include d.flex($dir: row, $ali: center, $gap: v.$big-padding * 1.5);
  }

  &-point {
    display: block;

    width: 5px;
    height: 5px;
    margin-left: v.$min-padding;
    border-radius: 50%;

    background-color: rgb(v.$fnA);
  }
}
