@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.mainBar {
  position: sticky;
  z-index: 10;
  top: 0;

  width: 100%;

  background-color: rgb(v.$bg1, 0.7);
  backdrop-filter: blur(10px);

  &-wrapper {
    position: relative;

    flex-wrap: wrap;

    width: v.$max-w;
    margin: auto;
    padding: v.$padding 0;

    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 2);
  }

  &-logo,
  &-currentWork {
    @include d.flex($dir: row, $ali: center);
  }

  &-logo__devName {
    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgb(v.$bg2);
  }

  &-currentWork {
    padding: v.$padding;
    border-radius: v.$radius;
    text-align: center;

    &::before {
      content: '';

      display: block;

      width: 5px;
      height: 5px;
      margin-left: v.$padding * 0.5;
      border-radius: 50%;

      background-color: rgb(v.$fnA);

      animation: pulse 3s infinite ease-in-out;
    }

    @keyframes pulse {
      0%,
      100% {
        transform: scale(1.2);
        box-shadow: 0 0 10px 5px rgba(v.$fnA, 0.5);
      }

      50% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 transparent;
      }
    }
  }

  // Music style
  &-music {
    position: relative;

    overflow: hidden;

    max-width: 37px;
    max-height: 37px;
    border-radius: 50%;

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;

      width: 20px;
      height: 20px;
      border-radius: 50%;

      background-color: rgb(v.$bg1);
    }

    img {
      pointer-events: none;
      user-select: none;

      width: 100%;
      height: 100%;

      object-fit: cover;

      animation: rotate 15s infinite linear;
    }

    @keyframes rotate {
      from {
        transform: rotateZ(0);
      }

      to {
        transform: rotateZ(360deg);
      }
    }
  }
}
