@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.extraLargeScreen {
  .mainBar {
    max-width: 100% !important;
    margin: initial !important;
    padding: 0 v.$padding;

    &-wrapper {
      margin: 0 auto !important;
    }
  }
}

@include m.mediumScreen {
  .mainBar {
    &-hidden {
      display: none !important;
    }
  }
}

@include m.smallerScreen {
  .mainBar {
    &-wrapper {
      gap: v.$padding;
      justify-content: center;
      width: 100%;
    }
  }
}
