@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.navLinks {
  @include d.flex($dir: row, $gap: v.$padding);

  flex-wrap: wrap;

  &-image {
    width: 30px;
    height: 30px;
    border-radius: v.$min-radius;
  }
}
