html[data-theme='Candy'] {
  --prism-inline-code: #d81b60;
  --prism-comment: #00838f;
  --prism-property: #c2185b;
  --prism-boolean: #4a148c;
  --prism-string: #f06292;
  --prism-keyword: #006064;
  --prism-function: #ad1457;
  --prism-variable: #880e4f;
  --prism-namespace: #e91e63;
  --prism-html-base: #321928;
  --prism-html-tag: #ad1457;
  --prism-html-attr-name: #af52bf;
  --prism-html-attr-value: #00838f;
  --prism-html-punctuation: #757575;
  --prism-line-highlight: rgb(216 27 96 / 20%);
}
