@use '@sass/config/vars' as v;

html[data-theme='Candy'] {
  pre[class*='language-'],
  code[class*='language-'] {
    direction: ltr;

    font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
    font-size: 13px;
    line-height: 1.5;
    hyphens: none;
    color: rgb(v.$fn1);
    text-align: left;
    text-shadow: none;
    word-break: normal;
    word-spacing: normal;
    tab-size: 4;
    white-space: pre;
  }

  pre[class*='language-'] {
    overflow: auto;

    margin: 0.5em 0;
    padding: 1em;
    border-radius: 0.5em;

    background: rgb(v.$bg2);
    box-shadow: 0 0 10px rgba(v.$tn1, 0.1);
  }

  code[class*='language-'] {
    background: transparent;
  }

  :not(pre) > code[class*='language-'] {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    color: #e754a2;
    background: rgba(v.$bg3, 0.85);
  }

  pre[class*='language-']::selection,
  code[class*='language-']::selection,
  pre[class*='language-'] *::selection,
  code[class*='language-'] *::selection {
    text-shadow: none;
    background: rgba(v.$tn1, 0.35);
  }

  // TOKENS
  .token.comment,
  .token.prolog,
  .token.cdata {
    font-style: italic;
    color: #ae6b8b;
  }

  .token.punctuation {
    color: rgb(v.$fn2);
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #bb4db9;
  }

  .token.boolean,
  .token.number {
    color: #db65a4;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #ff82b2;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #7a3e65;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    font-weight: bold;
    color: #da48c5;
  }

  .token.function,
  .token.class-name {
    color: #ffbf00;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #ff57aa;
  }

  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.namespace {
    color: #cc5cb1;
    opacity: 0.8;
  }

  // ESPECÍFICOS
  pre[class*='language-html'],
  code[class*='language-html'] {
    color: #7a3e65;
  }

  .language-html .token.tag {
    color: #ff64a6;
  }

  .language-html .token.attr-name {
    color: #c77de8;
  }

  .language-html .token.attr-value {
    color: #ff9edb;
  }

  .language-html .token.punctuation {
    color: #b06690;
  }

  // Line Highlighting
  pre[class*='language-'] > code[class*='language-'] {
    position: relative;
    z-index: 1;
  }

  .line-highlight.line-highlight {
    z-index: 0;
    background: rgb(255 200 220 / 20%);
    box-shadow: inset 5px 0 0 rgba(v.$tn2, 0.5);
  }

  @media print {
    pre[class*='language-'],
    code[class*='language-'] {
      text-shadow: none;
    }
  }
}
