@use '@sass/config/vars' as v;

html[data-theme='Synth wave 84'] {
  pre[class*='language-'],
  code[class*='language-'] {
    direction: ltr;

    font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
    font-size: 13px;
    line-height: 1.5;
    hyphens: none;
    color: rgb(v.$fn1); // texto principal
    text-align: left;
    text-shadow: none;
    word-break: normal;
    word-spacing: normal;
    tab-size: 4;
    white-space: pre;
  }

  pre[class*='language-'] {
    overflow: auto;

    margin: 0.5em 0;
    padding: 1em;
    border-radius: 0.5em;

    background: rgb(v.$bg2);
    box-shadow: 0 0 10px rgba(v.$tn2, 0.15);
  }

  code[class*='language-'] {
    background: transparent;
  }

  :not(pre) > code[class*='language-'] {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    color: #ff6ce0;
    background: rgba(v.$bg2, 0.85);
  }

  pre[class*='language-']::selection,
  code[class*='language-']::selection,
  pre[class*='language-'] *::selection,
  code[class*='language-'] *::selection {
    text-shadow: none;
    background: rgba(v.$tn1, 0.35);
  }

  // TOKENS
  .token.comment,
  .token.prolog,
  .token.cdata {
    font-style: italic;
    color: #8affc1;
  }

  .token.punctuation {
    color: rgb(v.$fn1);
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #ff7edb;
  }

  .token.boolean,
  .token.number {
    color: #da70ff;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #00fff7;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: rgb(v.$fn1);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #b084ff;
  }

  .token.function,
  .token.class-name {
    color: #ffe24d;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #ff92df;
  }

  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.namespace {
    color: #4ec9b0;
    opacity: 0.8;
  }

  // ESPECÍFICOS
  pre[class*='language-html'],
  code[class*='language-html'] {
    color: #ffd6ff;
  }

  .language-html .token.tag {
    color: #ff91ff;
  }

  .language-html .token.attr-name {
    color: #9efeff;
  }

  .language-html .token.attr-value {
    color: #ffee80;
  }

  .language-html .token.punctuation {
    color: #808080;
  }

  // Line Highlighting
  pre[class*='language-'] > code[class*='language-'] {
    position: relative;
    z-index: 1;
  }

  .line-highlight.line-highlight {
    z-index: 0;
    background: rgb(255 255 255 / 5%);
    box-shadow: inset 5px 0 0 rgba(v.$tn1, 0.4);
  }

  @media print {
    pre[class*='language-'],
    code[class*='language-'] {
      text-shadow: none;
    }
  }
}
