@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.footer {
  width: 100%;
  height: fit-content;
  margin-top: v.$big-padding;
  padding: v.$big-padding 0;

  &-haui {
    width: fit-content;
    font-weight: 400;
  }

  &-info {
    display: grid;
    grid-template-areas: 'user generalLinks extraLinks resources say';
    gap: v.$big-padding * 2;

    width: fit-content;
    height: fit-content;
    margin: auto;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 900;
  }

  &-user {
    grid-area: user;

    &__name {
      @include d.flex($gap: v.$padding);
    }
  }

  &-generalLinks {
    grid-area: generalLinks;
  }

  &-extraLinks {
    grid-area: extraLinks;
  }

  &-resources {
    grid-area: resources;
  }

  &-say {
    grid-area: say;

    &__paragraph {
      max-width: 260px;
    }

    &__group {
      @include d.flex;
    }
  }

  &-section {
    @include d.flex($gap: v.$padding * 3);
  }

  &-nav {
    height: min-content;

    @include d.flex($gap: v.$padding * 3);
  }

  &-navTitle {
    @include d.flex($dir: row, $ali: center, $gap: v.$min-padding);

    .lucide {
      stroke: rgb(v.$fn3);
    }
  }

  &-links {
    @include d.flex;
  }

  &-link {
    &:not(.completed) {
      pointer-events: none;
      user-select: none;
    }

    &.completed h5 {
      color: rgb(v.$fn1);
    }
  }

  // copyright

  &-copyright {
    width: 100%;
    margin-top: 100px;
    text-align: center;

    @include d.flex;
  }
}

.dualTitle {
  h2 {
    display: inline;
  }

  &-bold {
    font-weight: bold;
  }

  &-especial {
    font-family: v.$font2;
    font-weight: lighter;
    font-style: italic;
  }
}
