@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@forward 'style';

@include m.extraLargeScreen {
  .footer {
    padding: v.$big-padding v.$padding * 4;

    &-info {
      width: 100%;
    }
  }
}

@include m.largeScreen {
  .footer {
    &-info {
      @include d.flex($ali: center, $gap: v.$padding * 4);

      width: 100%;
      max-width: 100%;
    }

    &-copyright {
      margin-top: 50px;
    }

    &-user,
    &-say,
    &-nav,
    &-links {
      width: 100%;
      max-width: 300px;
    }

    &-user {
      &,
      &__name {
        align-items: center;
      }
    }

    &-nav {
      gap: v.$padding;
    }

    &-links {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@include m.smallScreen {
  .footer {
    &-info {
      padding: v.$padding * 2;
    }

    &-user,
    &-say,
    &-nav,
    &-links,
    &-say__group {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-copyright {
      margin-top: v.$padding * 2;
    }
  }
}
