@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.footer {
  width: 100%;
  height: fit-content;
  margin-top: v.$big-padding * 4;

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 120px 120px 120px;
    gap: v.$padding;

    width: 900px;
    margin: auto;
    padding: v.$big-padding * 2 0;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(v.$bg3, 0) 0%, rgb(v.$bg3) 50%, rgba(v.$bg3, 0) 100%) 1;
  }

  &-social,
  &-copyright {
    @include d.flex;
  }

  &-nav {
    @include d.flex($gap: v.$padding * 2);
  }

  &-copyright {
    width: 100%;
    padding: v.$big-padding 0;
    text-align: center;
  }

  &-navTitle {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);

    h4 {
      color: rgb(v.$fn2);
    }

    .lucide {
      stroke: rgb(v.$fn2);
    }
  }

  &-links {
    @include d.flex;
  }
}
