@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.UPreferences {
  position: absolute;
  z-index: 10;
  top: calc(100% + v.$padding);
  left: 0;

  overflow: auto;

  width: 455px;
  height: 550px;
  padding: v.$padding * 2;
  border-radius: v.$radius * 2;

  background-color: rgb(v.$bg1);

  @include d.flex($gap: v.$big_padding);
  @include scroll-hidden;

  animation: fade-bottom 0.5s ease forwards;

  @keyframes fade-bottom {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &-pages {
    @include d.flex($dir: row);

    flex-wrap: wrap;
  }

  &-page {
    overflow: hidden;

    width: 130px;
    height: 80px;
    border-radius: v.$radius;

    background-size: cover;
    background-blend-mode: darken;

    &__content {
      justify-content: center;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgb(v.$bg1, 0.4) 10%, rgb(v.$bg1, 0.8) 70%);

      @include d.flex($dir: row, $ali: center);

      h4 {
        font-weight: 600;
      }
    }
  }

  &-section {
    @include d.flex($gap: v.$padding * 2);
  }

  &-group {
    @include d.flex;
  }

  &-options {
    @include d.flex($dir: row, $ali: center);

    flex-wrap: wrap;
  }

  &-option {
    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgb(v.$bg2);
  }
}
