@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.largeScreen {
  .UPreferences {
    left: 50%;
    transform: translateX(-50%);
  }
}

@include m.smallScreen {
  .UPreferences {
    width: 400px;
  }
}

@include m.smallerScreen {
  .UPreferences {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &-pages {
      justify-content: center;
    }

    &-page {
      width: fit-content;
      min-width: 100px;
      height: 50px;

      &__content {
        padding: 5px;
      }
    }
  }
}
