@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.smallerScreen {
  .technologies {
    text-align: center;

    &-list {
      justify-content: center;
    }

    &-language {
      padding: v.$padding * 0.5;
      border-radius: v.$radius * 0.7;

      img {
        width: 13px;
        height: 13px;
      }
    }
  }
}
