@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.label {
  pointer-events: none;
  user-select: none;

  gap: v.$min-padding;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: v.$btn-padding;
  border-radius: v.$min-radius;

  text-wrap: nowrap;

  @include d.flex($dir: row, $gap: v.$min-padding);

  &:not(&.transparent) {
    border: 1px solid rgb(v.$bg3);
    background-color: rgb(v.$bg3);
  }
}
