@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.page {
  width: 100%;
  height: fit-content;
  min-height: 100vh;

  @include d.flex($gap: v.$big-padding, $ali: center);

  &-bar {
    width: 100%;
    max-width: v.$max-w;
    margin: 0 auto;

    .mainBar-wrapper {
      margin: 0;
    }
  }

  &-minContent {
    overflow-x: hidden;
    max-width: v.$max-w-md;
  }

  &-content {
    max-width: v.$max-w;
  }

  &-minContent,
  &-content {
    width: 100%;

    @include d.flex($gap: v.$section-padding, $ali: center);
  }
}
