@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.largeScreen {
  .page {
    gap: v.$padding * 2;

    &-wrapper {
      width: 100%;
      padding: 0 v.$padding * 2;
    }
  }
}
