@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.details {
  display: grid;
  grid-template-columns: 300px 1fr;
  flex-wrap: wrap;
  gap: v.$big-padding;

  width: 100%;
  height: fit-content;

  &-title {
    @include d.flex($dir: row, $ali: center);
  }

  &-information {
    @include d.flex($gap: v.$padding * 2);
  }

  &-paragraph {
    @include d.flex;
  }
}
