@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.mainApp {
  scroll-behavior: smooth;

  position: relative;

  overflow-x: hidden;
  overflow-y: auto;

  width: 900px;
  height: 100vh;
  margin: auto;
  padding-top: v.$padding * 2;
  padding-bottom: v.$padding * 10;

  @include scroll-hidden;

  &-wrapper {
    max-width: 600px;
    margin: auto;

    @include d.flex($gap: v.$padding * 3);
  }

  &-backContent {
    gap: v.$padding * 2;
  }

  &-back {
    position: sticky;
    top: v.$padding;
    background-color: rgba(v.$bg1, 0.5);
    backdrop-filter: blur(5px);
  }

  &-section {
    width: 100%;

    @include d.flex($gap: v.$padding * 1.5);

    text-align: center;
  }
}
