@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.testimonies {
  width: 100%;

  @include d.flex($ali: center, $gap: v.$big-padding);

  &-section {
    position: relative;
    width: 100%;
    height: fit-content;

    @include d.flex($gap: v.$padding * 2);
  }

  &-title {
    width: 350px;
    margin: auto;
    text-align: center;
  }

  &-list {
    position: relative;
    width: 100%;
    min-height: 400px;
  }
}
