@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.testimony {
  position: relative;
  z-index: 1;

  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: v.$padding * 2;

  @include d.flex;

  &-spotlight {
    position: absolute;
    left: 50%;

    overflow: hidden;

    width: 300px;
    height: 350px;
    border-radius: v.$radius;

    background-color: rgb(v.$bg1);

    &:nth-child(2) {
      z-index: 0;
      top: 30px;
      left: 20%;
      transform: translate(-50%) rotateZ(-10deg);
    }

    &:nth-child(1) {
      z-index: 1;
      top: 0;
      transform: translate(-50%);
    }

    &:nth-child(3) {
      z-index: 2;
      top: 30px;
      left: 80%;
      transform: translate(-50%) rotateZ(10deg);
    }
  }

  &-header {
    @include d.flex($dir: row, $ali: center);

    .lucide {
      stroke: rgb(v.$fn2);
    }
  }

  &-feedback {
    color: rgb(v.$fn1);
  }
}
