@use '@sass/config/vars' as v;

.imageLayer {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: rgb(v.$bg1);

  &-layer {
    pointer-events: none;
    will-change: opacity, transform, filter;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
  }

  &-parallax {
    top: -50%;
    height: 200%;
  }
}

.imageLayer-lottie {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &.imageLayer-parallax {
    height: 200%;
  }

  svg {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}
