@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.falling-text-container {
  cursor: pointer;

  position: relative;
  z-index: 1;

  width: 100%;
  min-height: 80px;

  text-align: center;
}

.falling-text-target {
  display: inline-block;
}

.word {
  user-select: none;

  display: inline-block;

  margin: 0 1px;

  font-family: v.$font2;
  font-size: v.$fH1;
  color: rgb(v.$fn2);
}

.highlighted {
  font-weight: bold;
  color: rgb(v.$fn1);
}

.falling-text-canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
