@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.devCard {
  $topDevCard: 146px;

  position: sticky;
  z-index: 10;
  top: v.$big-padding * 1.5 + $topDevCard;

  width: 100%;
  max-width: 350px;
  height: fit-content;

  &-content {
    position: relative;
    top: $topDevCard * -1;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 72vh;
    max-height: 800px;
    border-radius: v.$radius;

    background-color: rgb(v.$bg2);

    @include scroll-hidden;
  }

  &-background {
    width: 100%;
    height: 150px;
    max-height: 150px;
  }

  &-wrapper {
    height: fit-content;
    padding: v.$padding * 2;

    @include d.flex($gap: v.$padding * 2);
  }

  &-section {
    @include d.flex;
  }

  &-closeButton {
    display: none;
  }

  &-status {
    position: relative;

    &::after {
      content: '';

      position: absolute;
      z-index: 1;
      right: -3px;
      bottom: -3px;

      display: block;

      width: 15px;
      height: 15px;
      border: 2px solid rgb(v.$bg2);
      border-radius: 50%;

      background-color: v.$active;

      animation: pulse-logo 3s infinite ease-in-out;

      @keyframes pulse-logo {
        0%,
        100% {
          transform: scale(1);
        }

        50% {
          transform: scale(0.9);
        }
      }
    }
  }

  &-user {
    position: sticky;
    z-index: 3;
    top: v.$padding;
  }

  &-name {
    font-size: v.$fXl;
    text-transform: uppercase;
  }

  &-sliceHobbies {
    width: 100%;
  }

  &-hobbies {
    @include d.flex;

    padding-left: v.$padding * 2.5;
  }

  &-hobby {
    color: rgb(v.$fn2);
    list-style: disc;
  }
}
