@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.devCard {
  position: sticky;
  top: v.$padding;

  overflow: hidden;

  height: 100%;
  max-height: 650px;
  border-radius: v.$radius;

  background-color: rgb(v.$bg2);

  &-background {
    position: relative;
  }

  &-name {
    position: relative;
    top: -30px;

    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-wrapper {
    height: 100%;
    padding: 0 v.$padding * 2 v.$padding * 2;
  }
}
