@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.previewProject {
  flex-wrap: wrap;
  gap: v.$big-padding;
  justify-content: space-between;
  height: 200px;

  @include d.flex($dir: row, $gap: v.$big-padding);

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &-spotlight {
    overflow: hidden;

    width: 100%;
    max-width: 560px;
    height: 100%;
    padding: v.$padding * 2;
    border-radius: v.$radius;

    background-color: rgba(v.$bg1, 0.5);
    backdrop-filter: blur(10px);
  }

  &-description {
    @include d.flex;
  }

  &-title {
    font-size: v.$fH1;
    font-weight: 700;
    text-underline-offset: 5px;
    text-transform: uppercase;
  }

  &-images {
    @include d.flex($dir: row, $gap: -20px);

    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px;
  }

  &-image {
    position: absolute;
    top: 0;

    overflow: hidden;

    border-radius: v.$radius * 0.5;

    object-fit: cover;
    filter: brightness(1) grayscale(1);
    box-shadow: -10px 10px 20px 2px rgba(v.$bg1, 1);

    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease,
      filter 0.3s ease,
      z-index 0.3s ease;

    &:nth-child(1) {
      top: 15px;
      left: 0;
      transform: rotateZ(-10deg);
    }

    &:nth-child(2) {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(3) {
      top: 15px;
      right: 0;
      transform: rotateZ(10deg);
    }

    &:hover {
      z-index: 2;
    }

    &:nth-child(1):hover {
      transform: scale(1.1) rotateZ(-10deg);
    }

    &:nth-child(2):hover {
      transform: scale(1.1) translateX(-50%);
    }

    &:nth-child(3):hover {
      transform: scale(1.1) rotateZ(10deg);
    }

    .previewProject-images:hover & {
      filter: brightness(0.5) grayscale(1);
    }

    .previewProject-images:hover &:hover {
      filter: brightness(1) grayscale(0);
    }
  }
}
