@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/glitch' as g;

.loaderApp {
  user-select: none;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;

  width: 100%;
  height: 100%;

  transition: all 1s ease-in-out;

  &-content {
    justify-content: center;

    @include d.flex($ali: center);

    text-align: center;
    animation: loader 1s ease-in-out forwards;
  }

  @keyframes loader {
    from {
      scale: 0.8;
      opacity: 1;
    }

    to {
      scale: 1.2;
      opacity: 0;
    }
  }
}
