@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.home {
  width: 100%;
  height: fit-content;
  min-height: 100vh;

  @include d.flex;

  &-nav,
  &-wrapper {
    width: v.$max-w;
    max-width: v.$max-w;
    margin: 0 auto;
  }

  &-nav {
    .mainBar-wrapper {
      margin: initial;
    }
  }

  &-wrapper {
    @include d.flex($gap: v.$section-padding);

    margin-bottom: v.$section-padding;
  }

  &-presentation {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: v.$big-padding;

    width: 100%;
    height: fit-content;
    min-height: 100vh;
  }

  &-section {
    width: 100%;
    height: fit-content;
  }

  &-header {
    @include d.flex($ali: center);

    width: 100%;
  }

  &-description {
    width: 100%;
    max-width: 530px;
    text-align: center;
  }
}
