@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.home {
  scroll-behavior: smooth;

  position: relative;

  overflow-x: visible;
  overflow-y: auto;

  width: 100%;
  height: 100%;
  margin: auto;

  @include scroll-hidden;
  @include d.flex($gap: v.$big-padding * 2, $ali: center);
}
