@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen {
  .home {
    padding: v.$padding;

    &-wrapper {
      width: 100% !important;
    }

    &-sections {
      gap: v.$big-padding * 2;
    }
  }
}
