@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.largeScreen {
  .home {
    &-wrapper {
      width: 100% !important;
      padding: v.$padding;
    }

    &-body {
      @include d.flex($dir: column-reverse);

      position: relative;
    }
  }
}
