@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.smallScreen {
  .headerCardStack {
    width: 100%;

    &-card {
      flex-direction: column-reverse !important;
      align-items: center !important;
      width: fit-content;
      max-width: 100%;
    }

    &-info {
      align-items: center !important;
      text-align: center;

      &__paragraph {
        width: 100%;
        max-width: 350px;
      }
    }

    &-favoriteTechs {
      justify-content: center;
    }

    &-hero {
      width: 80px;
      height: 80px;
    }
  }
}
