@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.projects {
  height: 100vh;
  padding-top: v.$big-padding;

  @include d.flex($gap: v.$padding * 2);

  &-section {
    @include d.flex;
  }

  &-description {
    width: 100%;
    max-width: 650px;
  }
}
