@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.homeHero {
  $height: 40vh;

  width: 100%;
  height: $height;
  filter: brightness(0.75);

  &-background {
    height: calc($height + 80px);
  }
}
