@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.extraLargeScreen {
  .homeHero {
    height: 300px;

    &-background {
      height: 380px;
    }
  }
}

@include m.largeScreen {
  .homeHero {
    height: 250px;

    &-background {
      height: 330px;
    }
  }
}

@include m.mediumScreen {
  .homeHero {
    height: 200px;

    &-background {
      height: 280px;
    }
  }
}

@include m.smallScreen {
  .homeHero {
    height: 120px;

    &-background {
      height: 200px;
    }
  }
}
