@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@forward 'style';

@include m.extraLargeScreen {
  .title {
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

@include m.mediumScreen {
  .title h2 {
    font-size: calc(v.$fH1 * 1.5);
  }
}

@include m.smallScreen {
  .title h2 {
    font-size: calc(v.$fH1 * 1.2);
  }
}

@include m.smallerScreen {
  .title h2 {
    font-size: calc(v.$fH1);
  }
}
