@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.title {
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;

  @include d.flex($dir: row, $ali: center, $gap: 7px);

  &.reverse {
    flex-direction: row-reverse;
  }

  &.center {
    justify-content: center;
    width: 100%;
  }

  h2 {
    font-size: v.$fXl;
  }
}
