@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.descriptionHeader {
  width: 100%;

  @include d.flex($gap: v.$padding * 2);

  &-top {
    @include d.flex($dir: row, $ali: center);

    justify-content: space-between;
  }

  &-crafting {
    padding: v.$padding * 0.5 v.$padding;
    border-radius: v.$radius * 0.5;
    background-color: rgb(v.$fn1);

    @include d.flex($dir: row, $ali: center);

    &::before {
      content: '';

      display: block;

      width: 5px;
      height: 5px;
      border-radius: 50%;

      background-color: rgb(v.$tn1);

      animation: pulse 1s infinite;

      @keyframes pulse {
        0% {
          transform: scale(1);
          box-shadow: 0 0 0 0 transparent;
        }

        50% {
          transform: scale(1.2);
          box-shadow:
            0 0 30px 4px rgb(v.$tn1),
            0 0 5px 2px rgb(v.$tn1, 0.5);
        }

        100% {
          transform: scale(1);
          box-shadow: 0 0 0 0 transparent;
        }
      }
    }

    h4 {
      color: rgb(v.$bg1);
    }
  }
}
