@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.latestPosts {
  width: 100%;

  @include d.flex($ali: center, $gap: v.$big-padding);

  &-section {
    position: relative;
    width: 100%;
    height: fit-content;
  }

  &-list {
    column-count: 3;
    row-gap: v.$padding;
    column-gap: v.$padding;
    width: 100%;

    @media (width <= 1000px) {
      column-count: 2;
    }

    @media (width <= 600px) {
      column-count: 1;
    }
  }

  &-more {
    background-color: rgb(v.$fn1) !important;

    h3 {
      color: rgb(v.$bg1);
    }

    .lucide {
      stroke: rgb(v.$bg1);
    }
  }
}
