@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.about {
  @include d.flex($gap: v.$padding * 3);

  &-section {
    width: 100%;

    @include d.flex($gap: v.$padding * 1.5);

    text-align: center;
  }

  &-testimonies {
    @include d.flex($dir: row, $ali: center);

    flex-wrap: wrap;
    justify-content: center;
  }

  &-testimonial {
    max-width: 270px;
    text-align: left;

    @include d.flex;
  }

  &-author {
    margin-bottom: v.$padding;

    text-decoration-color: rgb(v.$fn1);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-underline-offset: 10px;
  }

  &-description {
    font-size: 0.8rem;
  }
}
