@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.content {
  height: 100vh;
  padding: v.$big-padding 0;

  &-section {
    @include d.flex;
  }

  &-description {
    width: 100%;
    max-width: 350px;
  }
}
