@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.technologies {
  @include d.flex($ali: center, $gap: v.$padding * 2);

  justify-content: center;
  width: 100%;

  &-filters {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include d.flex($dir: row, $ali: center);
  }

  &-orderBy {
    justify-content: center;
    width: fit-content;
  }

  &-search {
    width: fit-content;
    max-width: 400px;
    padding: v.$btn-padding;
    border-radius: v.$min-radius;

    @include d.flex($dir: row, $ali: center);

    background-color: rgb(v.$bg2);

    input {
      width: 100%;
      background-color: transparent;
    }
  }

  &-section {
    justify-content: center;

    max-width: 100%;
    padding: v.$padding;
    border-radius: v.$radius;

    background-color: rgb(v.$bg2);

    @include d.flex($ali: center);

    .frow {
      justify-content: center;
    }
  }

  &-category {
    text-transform: capitalize;
  }

  &-list {
    width: 100%;
    height: max-content;
    min-height: 250px;
    padding: v.$padding * 1.5 0;
  }

  &-wrap {
    flex-wrap: wrap;
    justify-content: center;

    @include d.flex($dir: row);
  }

  &-btn {
    position: relative;

    &__bg {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 13px;
      transform: translateY(-50%);

      width: 12px;
      height: 12px;

      filter: blur(10px);
    }
  }

  &-tech {
    min-width: max-content;

    img {
      min-width: 20px;
      min-height: 20px;
      object-fit: contain !important;
    }
  }

  &-block {
    position: relative;
    z-index: 1;
  }
}
