@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.extraLargeScreen {
  .technologies {
    &-filters {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: fit-content;
    }
  }
}
