@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

@use '@sass/utils/tooltip' as tol;

.iconButton {
  user-select: none;

  position: relative;

  display: grid;
  place-content: center;

  width: fit-content;
  min-width: 35px;
  height: fit-content;
  min-height: 34px;

  background-color: rgb(v.$bg2);

  &.radius {
    border-radius: v.$min-radius;
  }

  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }

  &.padding {
    padding: v.$btn-padding;
  }

  &.transparent {
    background-color: transparent;
  }

  &.border {
    border: 1.5px solid rgb(v.$bg3);
  }

  &.tag {
    padding: v.$tag-padding;
  }

  &-content {
    @include d.flex($dir: row, $ali: center, $gap: v.$min-padding);

    flex-wrap: wrap;
  }

  &-label {
    $transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    position: absolute;
    z-index: 3;

    visibility: hidden;
    opacity: 0;

    transition:
      opacity $transition,
      top $transition,
      visibility $transition,
      left $transition,
      right $transition,
      bottom $transition;
    transition-delay: 0.18s;

    &.top,
    &.bottom {
      left: 50%;
      transform: translateX(-50%);
    }

    &.left,
    &.right {
      top: 50%;
      transform: translateY(-50%);
    }

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.left {
      right: 0;
    }

    &.right {
      left: v.$padding * -3;
    }
  }

  &.hover:hover {
    background-color: rgb(v.$bg3);
    transition: background-color 0.3s ease;
  }

  &:hover {
    .iconButton-label {
      visibility: visible;
      opacity: 1;

      &.top {
        top: calc(-100% - v.$min-padding);
      }

      &.bottom {
        bottom: calc(-100% - v.$min-padding);
      }

      &.left {
        right: calc(100% + v.$min-padding);
      }

      &.right {
        left: calc(100% + v.$min-padding);
      }
    }
  }
}
