@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.sliceContainer {
  position: relative;
  min-width: fit-content;

  @include d.flex;

  &-content {
    @include scroll-hidden;
  }

  &-gradient {
    cursor: pointer;

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
  }

  &-action {
    position: sticky;
    z-index: 2;
    top: v.$padding;
    background-color: rgb(v.$bg3);
  }
}
