@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen {
  .header {
    max-height: fit-content;

    &-wrapper {
      gap: v.$big-padding;

      max-width: 100%;
      height: fit-content;
      padding: 0 !important;

      text-align: center;
    }

    &-title {
      font-size: 3rem !important;
    }

    &-sections {
      gap: v.$big-padding * 2;
    }
  }
}

@include m.smallScreen {
  .header {
    &-title {
      font-size: 2rem !important;
    }

    &-main {
      gap: v.$padding * 0.5;
    }
  }
}
