@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.titleText {
  width: fit-content;

  @include d.flex(5px);

  height: fit-content;

  &-sub,
  &-title {
    font-family: v.$font1;
    font-weight: 900;
    text-transform: uppercase;
  }

  &-sub {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &-title {
    font-size: 2.5rem;
    font-weight: 900;
  }
}
