@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.smallScreen {
  .titleText {
    height: fit-content;
    min-height: 70px;
    margin: auto;
    text-align: center;

    &-sub {
      font-size: 1rem;
    }

    &-title {
      font-size: 1.2rem;
    }
  }
}
