@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen {
  .titleText {
    margin: auto;
    text-align: center;
  }
}

@include m.smallScreen {
  .titleText {
    &-sub {
      font-size: 1rem;
    }

    &-title {
      font-size: 1.2rem;
    }
  }
}
