@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.backgroundImage {
  width: 50%;
  height: 170px;

  &-wrapper {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;

    background-position: center;
    background-size: cover;
    filter: brightness(80%);
  }
}
