@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.certificates {
  position: relative;

  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  padding: v.$padding * 2;

  &-spotlight {
    border-radius: v.$radius;
  }

  &,
  &-left {
    @include d.flex($dir: row, $ali: center);
  }

  &-right {
    width: 60%;

    @include d.flex($gap: v.$padding * 2);

    text-align: left;
  }

  &-left {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
  }

  &-relevant {
    @include d.flex;

    padding-left: v.$padding;

    li {
      list-style: inside;
    }
  }
}
