@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;
@use '@sass/utils/defs' as d;

@include m.largeScreen {
  .certificates {
    padding: v.$padding * 1.5;
  }
}

@include m.mediumScreen {
  .certificates {
    flex-direction: column;
    width: fit-content;
    padding: v.$padding * 1.5 v.$padding;
  }
}

@include m.smallScreen {
  .certificates {
    align-items: flex-start;
    width: 100%;
    padding: v.$padding * 2;

    &-left {
      text-align: center;
    }

    &-right {
      width: 100%;
    }
  }
}
