@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.smallScreen {
  .basicUserDetail {
    flex-wrap: wrap-reverse;

    &-image {
      max-width: 30px;
      max-height: 30px;
    }
  }
}
