@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.themesSelector {
  @include d.flex;

  &-style {
    width: fit-content;

    @include d.flex($dir: row, $gap: v.$padding * 2, $ali: center);
  }

  &-list {
    flex-wrap: wrap;

    @include d.flex($dir: row, $gap: 0);
  }

  &-theme {
    width: fit-content;
    min-width: 30px;
    height: fit-content;
    border-radius: 0;

    &:last-child {
      border-top-right-radius: v.$min-radius;
      border-bottom-right-radius: v.$min-radius;
    }

    &:first-child {
      border-top-left-radius: v.$min-radius;
      border-bottom-left-radius: v.$min-radius;
    }

    &__content {
      position: relative;
      overflow: hidden;
      width: 30px;
      height: 30px;
    }

    &__point {
      pointer-events: none;

      position: absolute;
      bottom: -50%;
      left: -30%;

      width: 80%;
      height: 80%;
      border-radius: 50%;

      filter: blur(10px);
    }
  }
}
