@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.themesSelector {
  @include d.flex;

  &-style {
    width: fit-content;
    border-radius: v.$radius;

    @include d.flex($dir: row, $gap: v.$padding * 2, $ali: center);
  }

  &-icon {
    min-width: fit-content;
  }

  &-list {
    overflow: hidden;
    flex-wrap: wrap;

    width: 100%;
    max-width: 302px;
    border-radius: v.$radius;

    @include d.flex($dir: row, $gap: 0);
  }

  &-theme {
    width: 30px;
    height: 30px;
  }
}
