@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.previewProjects {
  width: 100%;

  @include d.flex($ali: center, $gap: v.$big-padding);

  &-section {
    position: relative;
    width: 100%;
    height: fit-content;

    @include d.flex;
  }

  &-list {
    @include d.flex($gap: v.$big-padding);
  }

  &-description {
    position: relative;
    width: 400px;
  }

  &-arrow {
    position: absolute;
    right: -100px;
    bottom: -20px;

    width: 94px;
    height: 52px;
  }
}
