@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.cardLink {
  position: relative;
  padding: v.$padding;
  border-radius: v.$radius;

  &-arrow {
    pointer-events: none;

    position: absolute;
    top: v.$padding;
    right: v.$padding;
    transform-origin: center;
    transform: translate(-1 * v.$padding, v.$padding * 2) scale(0.5);

    padding: v.$padding * 0.5;
    border-radius: 50%;

    opacity: 0;

    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease;
    transition-delay: 0.3s;
  }

  &:hover {
    .cardLink-arrow {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }
}
