@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.shadowText {
  pointer-events: none;
  user-select: none;

  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;

  width: 100vw;
  height: 100vh;

  font-family: v.$fontE1;
  font-size: 7rem;
  color: rgb(v.$fn1, 0.35);
  text-align: center;
  text-transform: uppercase;

  opacity: 0.1;
}
