@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.quickAccess {
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: fit-content;
  padding: v.$padding * 0.5;

  text-align: center;

  background-color: rgb(v.$bg1, 0.2);
  backdrop-filter: blur(50px);

  @include d.flex($dir: row, $ali: center);

  &-subtitle {
    color: rgb(255 255 255);
  }

  .lucide {
    stroke: rgb(255 255 255);
  }

  &-button {
    padding: v.$padding * 0.5 v.$padding;
    border-radius: v.$radius;
    color: rgb(v.$fn1);
    background-color: rgb(v.$bg1, 0.5);
  }
}
